.DS_Store
.dart_tool/
.idea/
.vscode/

.packages
.pub/

build/

.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.ipr
*.iws

# Flutter/Dart/Pub related
pubspec_overrides.yaml
**/doc/api/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
**/pubspec.lock

# build files
/platform-build/
/target/
/platform-build
