.DS_Store
.dart_tool/
.idea/
.vscode/

.packages
.pub/

build/

.env
**/pubspec.lock

rust/target
rust/Cargo.lock

_main.dart

# build files
/platform-build/
/target/
# rust/headers/
# rust/dylib/
# macos/cli/
# macos/libagent_dart.a
# ios/libagent_dart.a
# android/src/main/jniLibs/
# linux/libagent_dart.so
# windows/agent_dart.dll
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
pubspec_overrides.yaml
**/doc/api/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Rust related
/target/
/Cargo.lock
/platform-build
